<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue 시작하기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="start">
      <div class="tab_select">
        <input type="radio" value="1" v-model="tabPick" />
        <label>1</label>
        <input type="radio" value="2" v-model="tabPick" />
        <label>2</label>
        <input type="radio" value="3" v-model="tabPick" />
        <label>3</label>
      </div>
      <div class="condition">
        <div v-if="tabPick == '1'">
          <h1>1탭을 클릭하였습니다</h1>
        </div>
        <div v-else-if="tabPick=='2'">
          <h1>2탭을 클릭하였습니다</h1>
        </div>
        <div v-else-if="tabPick=='3'">
          <h1>3탭을 클릭하였습니다</h1>
        </div>
        <div v-else>
          <h1>알 수 없는 탭을 클릭했습니다</h1>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      let app = new Vue({
        el: "#start",
        data() {
          return {
            tabPick: "1",
          };
        },
      });
    </script>
  </body>
</html>
